/* Links */

a {
  color: #4595D1;
}

a:hover, a:focus {
  color: #194E82;
}

/* Navigation */

#documenter .docs-sidebar ul.docs-menu a.tocitem:hover,
#documenter .docs-sidebar ul.docs-menu li.is-active ul.internal .tocitem:hover {
  color: #FFFFFF;
  background-color: #4595D1;
}

#documenter .docs-sidebar ul.docs-menu {
  border-top: none;
}

#documenter .docs-sidebar ul.docs-menu .tocitem {
  color: #FFFFFF;
  background: none;
}

#documenter .docs-sidebar {
  box-shadow: none;
  color: #FFFFFF;
  background-color: #194E82;
}

#documenter .docs-sidebar ul.docs-menu li.is-active {
  border-top: none;
  border-bottom: none;
}

#documenter .docs-sidebar ul.docs-menu li.is-active .tocitem,
#documenter .docs-sidebar ul.docs-menu li.is-active .tocitem:hover {
  color: #FFFFFF;
  background-color: #4595D1;
}

#documenter .docs-sidebar ul.docs-menu li.is-active ul.internal {
  margin: 0;
  border-top: none;
}

#documenter .docs-sidebar ul.docs-menu li.is-active ul.internal li {
  margin-top: 0;
}

#documenter .docs-sidebar ul.docs-menu li.is-active ul.internal .tocitem {
  color: #194E82;
  background-color: #FFFFFF;
  padding: 0.5em;
  padding-left: 1em;
}
#documenter .docs-sidebar ul.docs-menu li.is-active ul.internal .tocitem code {
  color: inherit;
}

/* Text */

article#documenter-page a.docs-heading-anchor {
  color: #194E82;
}

/* Terminology Block */

.admonition.is-category-terminology {
  background-color: #FFFEDD;
  border-color: #FFEC8B;
}

.admonition.is-category-terminology > .admonition-header:before {
  content: "Terminology: ";
  font-family: inherit;
  font-weight: bold;
}
.admonition.is-category-terminology > .admonition-header {
  background-color: #FFEC8B;
  color: black;
}

/* Code */

code .hljs-meta {
  color: #4595D1;
}

code .hljs-keyword {
  color: #194E82;
}

pre, code {
  font-family: "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "andale mono", "lucida console", monospace;
}
