// Only for light theme

@font-face {
  font-family: JuliaMono;
  src:
    local('JuliaMono'),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

html.theme--documenter-dark pre,
html.theme--documenter-dark code {
  font-family: "JuliaMono";
}

html:not(.theme--documenter-dark) body #documenter {
  // Links

  a {
    color: #4595D1;
  }

  a:hover, a:focus {
    color: #194E82;
  }

  // Navigation

  .docs-sidebar {
    box-shadow: none;
    color: #FFFFFF;
    background-color: #194E82;

    ul.docs-menu {
      border-top: none;

      %nav-hover {
        color: #FFFFFF;
        background-color: #4595D1;
      }

      .tocitem {
        color: #FFFFFF;
        background: none;

        &:hover { @extend %nav-hover; }
      }

      li.is-active {
        border-top: none;
        border-bottom: none;

        .tocitem {
          @extend %nav-hover;

          &:hover { @extend %nav-hover; }
        }

        ul.internal {
          margin: 0;
          border-top: none;

          li {
            margin-top: 0;
          }

          .tocitem {
            color: #194E82;
            background-color: #FFFFFF;
            padding: 0.5em;
            padding-left: 1em;

            &:hover { @extend %nav-hover; }
          }
        }
      }
    }
  }

  // Text

  article#documenter-page a.docs-heading-anchor {
    color: #194E82;
  }

  // Code

  pre, code {
    color: inherit;
    font-family: "JuliaMono";
    .hljs-meta { color: #4595D1; }
    .hljs-keyword { color: #194E82; }
  }

}

// Terminology Block

.admonition.is-category-terminology {
  background-color: #FFFEDD;
  border-color: #FFEC8B;

  > .admonition-header {
    background-color: #FFEC8B;
    color: black;

    &:before {
      content: "Terminology: ";
      font-family: inherit;
      font-weight: bold;
    }
  }
}

html.theme--documenter-dark .admonition.is-category-terminology {
  border-color: #FFEC8B;
}

// Details
details {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background: aliceblue;
}

html.theme--documenter-dark details {
  background: #282f2f;
}
