name: JuliaNightly
# Nightly Version of Julia.
# Runs on PRs and pushes to `master`, but seperate workflow to `CI`
# to avoid inclusion in nightly cron build with failure notifications.
on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:
jobs:
  test:
    name: Julia Nightly - Ubuntu - x64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: nightly
          arch: x64
      - uses: actions/cache@v2
        env:
          cache-name: julia-nightly-cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ env.cache-name }}-
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
